gitlab:
  apiVersion: 4
  baseUrl: ""
  token: ""
  configFile: ".automerge.conf" #file with automerge config in default branch

scheduler:
  merge:  60s #fetch merge requests and accept every 60 seconds
  update: 60m #update project list every 60 minutes
